/* ------------------------------------------------------------------------------
*
*  # Helper classes
*
*  Custom helper classes
*
*  Author: Ahmet Faruk Bora
*  Version: 1.7
*  Latest update: Apr 20, 2017
*
* ---------------------------------------------------------------------------- */

/*
 * Media Queries
 
@media (min-width: 1600px) { XLG }
@media (min-width: 1200px) { LG }
@media (min-width: 1025px) and (max-width: 1199px) { MD }
@media (min-width: 769px) and (max-width: 1024px) { SM }
@media (max-width: 768px) { XS }
@media (max-width: 575px) { XXS }
    
 */

/*
 * Bootstrap
 */
.pull-none { float: none !important; }

/*
 * Positions
 */
.position-absolute { position: absolute !important; }
.position-fixed { position: fixed !important; }
.position-relative { position: relative !important; }
.position-initial { position: initial !important; }

@media (min-width: 1600px) {
    .position-absolute-xlg { position: absolute !important; }
    .position-fixed-xlg { position: fixed !important; }
    .position-relative-xlg { position: relative !important; }
    .position-relative-xlg { position: relative !important; }
    .position-initial-xlg { position: initial !important; }
}
@media (min-width: 1200px) {
    .position-absolute-lg { position: absolute !important; }
    .position-fixed-lg { position: fixed !important; }
    .position-relative-lg { position: relative !important; }
    .position-relative-lg { position: relative !important; }
    .position-initial-lg { position: initial !important; }
}
@media (min-width: 1025px) and (max-width: 1199px) {
    .position-absolute-md { position: absolute !important; }
    .position-fixed-md { position: fixed !important; }
    .position-relative-m { position: fixed !important; }
    .position-initial-md { position: initial !important; }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .position-absolute-sm { position: absolute !important; }
    .position-fixed-sm { position: fixed !important; }
    .position-relative-sm { position: relative !important; }
    .position-initial-sm { position: initial !important; }
}
@media (max-width: 768px) {
    .position-absolute-xs { position: absolute !important; }
    .position-fixed-xs { position: fixed !important; }
    .position-relative-xs { position: relative !important; }
    .position-initial-xs { position: initial !important; }
}
@media (max-width: 575px) {
    .position-absolute-xxs { position: absolute !important; }
    .position-fixed-xxs { position: fixed !important; }
    .position-relative-xxs { position: relative !important; }
    .position-initial-xxs { position: initial !important; }
}

.position-top-0 { top: 0 !important; }
.position-top-3 { top: 3px !important; }
.position-top-5 { top: 5px !important; }
.position-top-10 { top: 10px !important; }
.position-top-20 { top: 20px !important; }
.position-top-30 { top: 30px !important; }
.position-top-50 { top: 50px !important; }
.position-top-100 { top: 100px !important; }
.position-right-0 { right: 0 !important; }
.position-right-3 { right: 3px !important; }
.position-right-5 { right: 5px !important; }
.position-right-10 { right: 10px !important; }
.position-right-20 { right: 20px !important; }
.position-right-30 { right: 30px !important; }
.position-right-50 { right: 50px !important; }
.position-right-100 { right: 100px !important; }
.position-bottom-0 { bottom: 0 !important; }
.position-bottom-3 { bottom: 3px !important; }
.position-bottom-5 { bottom: 5px !important; }
.position-bottom-10 { bottom: 10px !important; }
.position-bottom-20 { bottom: 20px !important; }
.position-bottom-30 { bottom: 30px !important; }
.position-bottom-50 { bottom: 50px !important; }
.position-bottom-100 { bottom: 100px !important; }
.position-left-0 { left: 0 !important; }
.position-left-3 { left: 3px !important; }
.position-left-5 { left: 5px !important; }
.position-left-10 { left: 10px !important; }
.position-left-20 { left: 20px !important; }
.position-left-30 { left: 30px !important; }
.position-left-50 { left: 50px !important; }
.position-left-100 { left: 100px !important; }
.position-vertical-0 { top: 0 !important; bottom: 0 !important; }
.position-vertical-3 { top: 3px !important; bottom: 3px !important; }
.position-vertical-5 { top: 5px !important; bottom: 5px !important; }
.position-vertical-10 { top: 10px !important; bottom: 10px !important; }
.position-vertical-20 { top: 20px !important; bottom: 20px !important; }
.position-vertical-30 { top: 30px !important; bottom: 30px !important; }
.position-vertical-50 { top: 50px !important; bottom: 50px !important; }
.position-vertical-100 { top: 100px !important; bottom: 100px !important; }
.position-horizontal-0 { left: 0 !important; right: 0 !important; }
.position-horizontal-3 { left: 3px !important; right: 3px !important; }
.position-horizontal-5 { left: 5px !important; right: 5px !important; }
.position-horizontal-10 { left: 10px !important; right: 10px !important; }
.position-horizontal-20 { left: 20px !important; right: 20px !important; }
.position-horizontal-30 { left: 30px !important; right: 30px !important; }
.position-horizontal-50 { left: 50px !important; right: 50px !important; }
.position-horizontal-100 { left: 100px !important; right: 100px !important; }

/*
 * Font Sizes
 */
.fs-0 { font-size: 0 !important; }
.fs-10 { font-size: 10px !important; }
.fs-11 { font-size: 11px !important; }
.fs-12 { font-size: 12px !important; }
.fs-13 { font-size: 13px !important; }
.fs-14 { font-size: 14px !important; }
.fs-15 { font-size: 15px !important; }
.fs-16 { font-size: 16px !important; }
.fs-17 { font-size: 17px !important; }
.fs-18 { font-size: 18px !important; }
.fs-20 { font-size: 20px !important; }
.fs-24 { font-size: 24px !important; }
.fs-28 { font-size: 28px !important; }
.fs-36 { font-size: 36px !important; }
.fs-48 { font-size: 48px !important; }
.fs-60 { font-size: 60px !important; }
.fs-72 { font-size: 72px !important; }
.fs-84 { font-size: 84px !important; }
.fs-96 { font-size: 96px !important; }

/*
 * Vertical Align
 */
.valign-top { vertical-align: top; }
.valign-middle { vertical-align: middle; }
.valign-bottom { vertical-align: bottom; }
.valign-baseline { vertical-align: baseline; }
.valign-text-top { vertical-align: top; }
.valign-text-bottom { vertical-align: text-bottom; }

/*
 * Margin
 */
.no-margin { margin: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-right { margin-right: 0 !important; }
.m-0 { margin: 0px !important; }
.m-3 { margin: 3px !important; }
.m-5 { margin: 5px !important; }
.m-10 { margin: 10px !important; }
.m-15 { margin: 15px !important; }
.m-20 { margin: 20px !important; }
.m-25 { margin: 25px !important; }
.m-30 { margin: 30px !important; }
.m-40 { margin: 40px !important; }
.m-50 { margin: 50px !important; }
.mt-0 { margin-top: 0px !important; }
.mt-3 { margin-top: 3px !important; }
.mt-5 { margin-top: 5px !important; }
.mt-10 { margin-top: 10px !important; }
.mt-15 { margin-top: 15px !important; }
.mt-20 { margin-top: 20px !important; }
.mt-25 { margin-top: 25px !important; }
.mt-30 { margin-top: 30px !important; }
.mt-40 { margin-top: 40px !important; }
.mt-50 { margin-top: 50px !important; }
.mb-0 { margin-bottom: 0px !important; }
.mb-3 { margin-bottom: 3px !important; }
.mb-5 { margin-bottom: 5px !important; }
.mb-10 { margin-bottom: 10px !important; }
.mb-15 { margin-bottom: 15px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-25 { margin-bottom: 25px !important; }
.mb-30 { margin-bottom: 30px !important; }
.mb-40 { margin-bottom: 40px !important; }
.mb-50 { margin-bottom: 50px !important; }
.ml-0 { margin-left: 0px !important; }
.ml-3 { margin-left: 3px !important; }
.ml-5 { margin-left: 5px !important; }
.ml-10 { margin-left: 10px !important; }
.ml-15 { margin-left: 15px !important; }
.ml-20 { margin-left: 20px !important; }
.ml-25 { margin-left: 25px !important; }
.ml-30 { margin-left: 30px !important; }
.ml-40 { margin-left: 40px !important; }
.ml-50 { margin-left: 50px !important; }
.mr-0 { margin-right: 0px !important; }
.mr-3 { margin-right: 3px !important; }
.mr-5 { margin-right: 5px !important; }
.mr-10 { margin-right: 10px !important; }
.mr-15 { margin-right: 15px !important; }
.mr-20 { margin-right: 20px !important; }
.mr-25 { margin-right: 25px !important; }
.mr-30 { margin-right: 30px !important; }
.mr-40 { margin-right: 40px !important; }
.mr-50 { margin-right: 50px !important; }
.mv-0 { margin-top: 0px !important; margin-bottom: 0px !important; }
.mv-3 { margin-top: 3px !important; margin-bottom: 3px !important; }
.mv-5 { margin-top: 5px !important; margin-bottom: 5px !important; }
.mv-10 { margin-top: 10px !important; margin-bottom: 10px !important; }
.mv-15 { margin-top: 15px !important; margin-bottom: 15px !important; }
.mv-20 { margin-top: 20px !important; margin-bottom: 20px !important; }
.mv-25 { margin-top: 25px !important; margin-bottom: 25px !important; }
.mv-30 { margin-top: 30px !important; margin-bottom: 30px !important; }
.mv-40 { margin-top: 40px !important; margin-bottom: 40px !important; }
.mv-50 { margin-top: 50px !important; margin-bottom: 50px !important; }
.mh-0 { margin-left: 0px !important; margin-right: 0px !important; }
.mh-3 { margin-left: 3px !important; margin-right: 3px !important; }
.mh-5 { margin-left: 5px !important; margin-right: 5px !important; }
.mh-10 { margin-left: 10px !important; margin-right: 10px !important; }
.mh-15 { margin-left: 15px !important; margin-right: 15px !important; }
.mh-20 { margin-left: 20px !important; margin-right: 20px !important; }
.mh-25 { margin-left: 25px !important; margin-right: 25px !important; }
.mh-30 { margin-left: 30px !important; margin-right: 30px !important; }
.mh-40 { margin-left: 40px !important; margin-right: 40px !important; }
.mh-50 { margin-left: 50px !important; margin-right: 50px !important; }

/*
 * Responsive Margins
 */ 
@media (min-width: 1600px) {
    .mt-10-xlg { margin-top: 10px !important; }
    .mr-10-xlg { margin-right: 10px !important; }
    .mb-10-xlg { margin-bottom: 10px !important; }
    .ml-10-xlg { margin-left: 10px !important; }
    .mt-20-xlg { margin-top: 20px !important; }
    .mr-20-xlg { margin-right: 20px !important; }
    .mb-20-xlg { margin-bottom: 20px !important; }
    .ml-20-xlg { margin-left: 20px !important; }
    .mt-30-xlg { margin-top: 30px !important; }
    .mr-30-xlg { margin-right: 30px !important; }
    .mb-30-xlg { margin-bottom: 30px !important; }
    .ml-30-xlg { margin-left: 30px !important; }
    .mt-40-xlg { margin-top: 40px !important; }
    .mr-40-xlg { margin-right: 40px !important; }
    .mb-40-xlg { margin-bottom: 40px !important; }
    .ml-40-xlg { margin-left: 40px !important; }
    .mt-50-xlg { margin-top: 50px !important; }
    .mr-50-xlg { margin-right: 50px !important; }
    .mb-50-xlg { margin-bottom: 50px !important; }
    .ml-50-xlg { margin-left: 50px !important; }
} 
@media (min-width: 1200px) {
    .mt-10-lg { margin-top: 10px !important; }
    .mr-10-lg { margin-right: 10px !important; }
    .mb-10-lg { margin-bottom: 10px !important; }
    .ml-10-lg { margin-left: 10px !important; }
    .mt-20-lg { margin-top: 20px !important; }
    .mr-20-lg { margin-right: 20px !important; }
    .mb-20-lg { margin-bottom: 20px !important; }
    .ml-20-lg { margin-left: 20px !important; }
    .mt-30-lg { margin-top: 30px !important; }
    .mr-30-lg { margin-right: 30px !important; }
    .mb-30-lg { margin-bottom: 30px !important; }
    .ml-30-lg { margin-left: 30px !important; }
    .mt-40-lg { margin-top: 40px !important; }
    .mr-40-lg { margin-right: 40px !important; }
    .mb-40-lg { margin-bottom: 40px !important; }
    .ml-40-lg { margin-left: 40px !important; }
    .mt-50-lg { margin-top: 50px !important; }
    .mr-50-lg { margin-right: 50px !important; }
    .mb-50-lg { margin-bottom: 50px !important; }
    .ml-50-lg { margin-left: 50px !important; }
}
@media (min-width: 1025px) and (max-width: 1199px) {
    .mt-10-md { margin-top: 10px !important; }
    .mr-10-md { margin-right: 10px !important; }
    .mb-10-md { margin-bottom: 10px !important; }
    .ml-10-md { margin-left: 10px !important; }
    .mt-20-md { margin-top: 20px !important; }
    .mr-20-md { margin-right: 20px !important; }
    .mb-20-md { margin-bottom: 20px !important; }
    .ml-20-md { margin-left: 20px !important; }
    .mt-30-md { margin-top: 30px !important; }
    .mr-30-md { margin-right: 30px !important; }
    .mb-30-md { margin-bottom: 30px !important; }
    .ml-30-md { margin-left: 30px !important; }
    .mt-40-md { margin-top: 40px !important; }
    .mr-40-md { margin-right: 40px !important; }
    .mb-40-md { margin-bottom: 40px !important; }
    .ml-40-md { margin-left: 40px !important; }
    .mt-50-md { margin-top: 50px !important; }
    .mr-50-md { margin-right: 50px !important; }
    .mb-50-md { margin-bottom: 50px !important; }
    .ml-50-md { margin-left: 50px !important; }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .mt-10-sm { margin-top: 10px !important; }
    .mr-10-sm { margin-right: 10px !important; }
    .mb-10-sm { margin-bottom: 10px !important; }
    .ml-10-sm { margin-left: 10px !important; }
    .mt-20-sm { margin-top: 20px !important; }
    .mr-20-sm { margin-right: 20px !important; }
    .mb-20-sm { margin-bottom: 20px !important; }
    .ml-20-sm { margin-left: 20px !important; }
    .mt-30-sm { margin-top: 30px !important; }
    .mr-30-sm { margin-right: 30px !important; }
    .mb-30-sm { margin-bottom: 30px !important; }
    .ml-30-sm { margin-left: 30px !important; }
    .mt-40-sm { margin-top: 40px !important; }
    .mr-40-sm { margin-right: 40px !important; }
    .mb-40-sm { margin-bottom: 40px !important; }
    .ml-40-sm { margin-left: 40px !important; }
    .mt-50-sm { margin-top: 50px !important; }
    .mr-50-sm { margin-right: 50px !important; }
    .mb-50-sm { margin-bottom: 50px !important; }
    .ml-50-sm { margin-left: 50px !important; }
}
@media (max-width: 768px) {
    .mt-10-xs { margin-top: 10px !important; }
    .mr-10-xs { margin-right: 10px !important; }
    .mb-10-xs { margin-bottom: 10px !important; }
    .ml-10-xs { margin-left: 10px !important; }
    .mt-20-xs { margin-top: 20px !important; }
    .mr-20-xs { margin-right: 20px !important; }
    .mb-20-xs { margin-bottom: 20px !important; }
    .ml-20-xs { margin-left: 20px !important; }
    .mt-30-xs { margin-top: 30px !important; }
    .mr-30-xs { margin-right: 30px !important; }
    .mb-30-xs { margin-bottom: 30px !important; }
    .ml-30-xs { margin-left: 30px !important; }
    .mt-40-xs { margin-top: 40px !important; }
    .mr-40-xs { margin-right: 40px !important; }
    .mb-40-xs { margin-bottom: 40px !important; }
    .ml-40-xs { margin-left: 40px !important; }
    .mt-50-xs { margin-top: 50px !important; }
    .mr-50-xs { margin-right: 50px !important; }
    .mb-50-xs { margin-bottom: 50px !important; }
    .ml-50-xs { margin-left: 50px !important; }
}
@media (max-width: 575px) {
    .mt-10-xxs { margin-top: 10px !important; }
    .mr-10-xxs { margin-right: 10px !important; }
    .mb-10-xxs { margin-bottom: 10px !important; }
    .ml-10-xxs { margin-left: 10px !important; }
    .mt-20-xxs { margin-top: 20px !important; }
    .mr-20-xxs { margin-right: 20px !important; }
    .mb-20-xxs { margin-bottom: 20px !important; }
    .ml-20-xxs { margin-left: 20px !important; }
    .mt-30-xxs { margin-top: 30px !important; }
    .mr-30-xxs { margin-right: 30px !important; }
    .mb-30-xxs { margin-bottom: 30px !important; }
    .ml-30-xxs { margin-left: 30px !important; }
    .mt-40-xxs { margin-top: 40px !important; }
    .mr-40-xxs { margin-right: 40px !important; }
    .mb-40-xxs { margin-bottom: 40px !important; }
    .ml-40-xxs { margin-left: 40px !important; }
    .mt-50-xxs { margin-top: 50px !important; }
    .mr-50-xxs { margin-right: 50px !important; }
    .mb-50-xxs { margin-bottom: 50px !important; }
    .ml-50-xxs { margin-left: 50px !important; }
}

/*
 * Margin Auto
 */
.margin-auto { margin: 0 auto !important; }
 
@media (min-width: 1600px) {
    .margin-auto-xlg { margin: 0 auto !important; }
} 
@media (min-width: 1200px) {
    .margin-auto-lg { margin: 0 auto !important; }
}
@media (min-width: 1025px) and (max-width: 1199px) {
    .margin-auto-md { margin: 0 auto !important; }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .margin-auto-sm { margin: 0 auto !important; }
}
@media (max-width: 768px) {
    .margin-auto-xs { margin: 0 auto !important; }
}
@media (max-width: 575px) {
    .margin-auto-xxs { margin: 0 auto !important; }
}

/*
 * Padding
 */
.no-padding { padding: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.p-0 { padding: 0px !important; }
.p-3 { padding: 3px !important; }
.p-5 { padding: 5px !important; }
.p-10 { padding: 10px !important; }
.p-15 { padding: 15px !important; }
.p-20 { padding: 20px !important; }
.p-25 { padding: 25px !important; }
.p-30 { padding: 30px !important; }
.p-40 { padding: 40px !important; }
.p-50 { padding: 50px !important; }
.pt-0 { padding-top: 0px !important; }
.pt-3 { padding-top: 3px !important; }
.pt-5 { padding-top: 5px !important; }
.pt-10 { padding-top: 10px !important; }
.pt-15 { padding-top: 15px !important; }
.pt-20 { padding-top: 20px !important; }
.pt-25 { padding-top: 25px !important; }
.pt-30 { padding-top: 30px !important; }
.pt-40 { padding-top: 40px !important; }
.pt-50 { padding-top: 50px !important; }
.pb-0 { padding-bottom: 0px !important; }
.pb-3 { padding-bottom: 3px !important; }
.pb-5 { padding-bottom: 5px !important; }
.pb-10 { padding-bottom: 10px !important; }
.pb-15 { padding-bottom: 15px !important; }
.pb-20 { padding-bottom: 20px !important; }
.pb-25 { padding-bottom: 25px !important; }
.pb-30 { padding-bottom: 30px !important; }
.pb-40 { padding-bottom: 40px !important; }
.pb-50 { padding-bottom: 50px !important; }
.pl-0 { padding-left: 0px !important; }
.pl-3 { padding-left: 3px !important; }
.pl-5 { padding-left: 5px !important; }
.pl-10 { padding-left: 10px !important; }
.pl-15 { padding-left: 15px !important; }
.pl-20 { padding-left: 20px !important; }
.pl-25 { padding-left: 25px !important; }
.pl-30 { padding-left: 30px !important; }
.pl-40 { padding-left: 40px !important; }
.pl-50 { padding-left: 50px !important; }
.pr-0 { padding-right: 0px !important; }
.pr-3 { padding-right: 3px !important; }
.pr-5 { padding-right: 5px !important; }
.pr-10 { padding-right: 10px !important; }
.pr-15 { padding-right: 15px !important; }
.pr-20 { padding-right: 20px !important; }
.pr-25 { padding-right: 25px !important; }
.pr-30 { padding-right: 30px !important; }
.pr-40 { padding-right: 40px !important; }
.pr-50 { padding-right: 50px !important; }
.pv-0 { padding-top: 0px !important; padding-bottom: 0px !important; }
.pv-3 { padding-top: 3px !important; padding-bottom: 3px !important; }
.pv-5 { padding-top: 5px !important; padding-bottom: 5px !important; }
.pv-10 { padding-top: 10px !important; padding-bottom: 10px !important; }
.pv-15 { padding-top: 15px !important; padding-bottom: 15px !important; }
.pv-20 { padding-top: 20px !important; padding-bottom: 20px !important; }
.pv-25 { padding-top: 25px !important; padding-bottom: 25px !important; }
.pv-30 { padding-top: 30px !important; padding-bottom: 30px !important; }
.pv-40 { padding-top: 40px !important; padding-bottom: 40px !important; }
.pv-50 { padding-top: 50px !important; padding-bottom: 50px !important; }
.ph-0 { padding-left: 0px !important; padding-right: 0px !important; }
.ph-3 { padding-left: 3px !important; padding-right: 3px !important; }
.ph-5 { padding-left: 5px !important; padding-right: 5px !important; }
.ph-10 { padding-left: 10px !important; padding-right: 10px !important; }
.ph-15 { padding-left: 15px !important; padding-right: 15px !important; }
.ph-20 { padding-left: 20px !important; padding-right: 20px !important; }
.ph-25 { padding-left: 25px !important; padding-right: 25px !important; }
.ph-30 { padding-left: 30px !important; padding-right: 30px !important; }
.ph-40 { padding-left: 40px !important; padding-right: 40px !important; }
.ph-50 { padding-left: 50px !important; padding-right: 50px !important; }

/*
 * Responsive Paddings
 */ 
@media (min-width: 1600px) {
    .pt-10-xlg { padding-top: 10px !important; }
    .pr-10-xlg { padding-right: 10px !important; }
    .pb-10-xlg { padding-bottom: 10px !important; }
    .pl-10-xlg { padding-left: 10px !important; }
    .pt-20-xlg { padding-top: 20px !important; }
    .pr-20-xlg { padding-right: 20px !important; }
    .pb-20-xlg { padding-bottom: 20px !important; }
    .pl-20-xlg { padding-left: 20px !important; }
    .pt-30-xlg { padding-top: 30px !important; }
    .pr-30-xlg { padding-right: 30px !important; }
    .pb-30-xlg { padding-bottom: 30px !important; }
    .pl-30-xlg { padding-left: 30px !important; }
    .pt-40-xlg { padding-top: 40px !important; }
    .pr-40-xlg { padding-right: 40px !important; }
    .pb-40-xlg { padding-bottom: 40px !important; }
    .pl-40-xlg { padding-left: 40px !important; }
    .pt-50-xlg { padding-top: 50px !important; }
    .pr-50-xlg { padding-right: 50px !important; }
    .pb-50-xlg { padding-bottom: 50px !important; }
    .pl-50-xlg { padding-left: 50px !important; }
} 
@media (min-width: 1200px) {
    .pt-10-lg { padding-top: 10px !important; }
    .pr-10-lg { padding-right: 10px !important; }
    .pb-10-lg { padding-bottom: 10px !important; }
    .pl-10-lg { padding-left: 10px !important; }
    .pt-20-lg { padding-top: 20px !important; }
    .pr-20-lg { padding-right: 20px !important; }
    .pb-20-lg { padding-bottom: 20px !important; }
    .pl-20-lg { padding-left: 20px !important; }
    .pt-30-lg { padding-top: 30px !important; }
    .pr-30-lg { padding-right: 30px !important; }
    .pb-30-lg { padding-bottom: 30px !important; }
    .pl-30-lg { padding-left: 30px !important; }
    .pt-40-lg { padding-top: 40px !important; }
    .pr-40-lg { padding-right: 40px !important; }
    .pb-40-lg { padding-bottom: 40px !important; }
    .pl-40-lg { padding-left: 40px !important; }
    .pt-50-lg { padding-top: 50px !important; }
    .pr-50-lg { padding-right: 50px !important; }
    .pb-50-lg { padding-bottom: 50px !important; }
    .pl-50-lg { padding-left: 50px !important; }
}
@media (min-width: 1025px) and (max-width: 1199px) {
    .pt-10-md { padding-top: 10px !important; }
    .pr-10-md { padding-right: 10px !important; }
    .pb-10-md { padding-bottom: 10px !important; }
    .pl-10-md { padding-left: 10px !important; }
    .pt-20-md { padding-top: 20px !important; }
    .pr-20-md { padding-right: 20px !important; }
    .pb-20-md { padding-bottom: 20px !important; }
    .pl-20-md { padding-left: 20px !important; }
    .pt-30-md { padding-top: 30px !important; }
    .pr-30-md { padding-right: 30px !important; }
    .pb-30-md { padding-bottom: 30px !important; }
    .pl-30-md { padding-left: 30px !important; }
    .pt-40-md { padding-top: 40px !important; }
    .pr-40-md { padding-right: 40px !important; }
    .pb-40-md { padding-bottom: 40px !important; }
    .pl-40-md { padding-left: 40px !important; }
    .pt-50-md { padding-top: 50px !important; }
    .pr-50-md { padding-right: 50px !important; }
    .pb-50-md { padding-bottom: 50px !important; }
    .pl-50-md { padding-left: 50px !important; }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .pt-10-sm { padding-top: 10px !important; }
    .pr-10-sm { padding-right: 10px !important; }
    .pb-10-sm { padding-bottom: 10px !important; }
    .pl-10-sm { padding-left: 10px !important; }
    .pt-20-sm { padding-top: 20px !important; }
    .pr-20-sm { padding-right: 20px !important; }
    .pb-20-sm { padding-bottom: 20px !important; }
    .pl-20-sm { padding-left: 20px !important; }
    .pt-30-sm { padding-top: 30px !important; }
    .pr-30-sm { padding-right: 30px !important; }
    .pb-30-sm { padding-bottom: 30px !important; }
    .pl-30-sm { padding-left: 30px !important; }
    .pt-40-sm { padding-top: 40px !important; }
    .pr-40-sm { padding-right: 40px !important; }
    .pb-40-sm { padding-bottom: 40px !important; }
    .pl-40-sm { padding-left: 40px !important; }
    .pt-50-sm { padding-top: 50px !important; }
    .pr-50-sm { padding-right: 50px !important; }
    .pb-50-sm { padding-bottom: 50px !important; }
    .pl-50-sm { padding-left: 50px !important; }
}
@media (max-width: 768px) {
    .pt-10-xs { padding-top: 10px !important; }
    .pr-10-xs { padding-right: 10px !important; }
    .pb-10-xs { padding-bottom: 10px !important; }
    .pl-10-xs { padding-left: 10px !important; }
    .pt-20-xs { padding-top: 20px !important; }
    .pr-20-xs { padding-right: 20px !important; }
    .pb-20-xs { padding-bottom: 20px !important; }
    .pl-20-xs { padding-left: 20px !important; }
    .pt-30-xs { padding-top: 30px !important; }
    .pr-30-xs { padding-right: 30px !important; }
    .pb-30-xs { padding-bottom: 30px !important; }
    .pl-30-xs { padding-left: 30px !important; }
    .pt-40-xs { padding-top: 40px !important; }
    .pr-40-xs { padding-right: 40px !important; }
    .pb-40-xs { padding-bottom: 40px !important; }
    .pl-40-xs { padding-left: 40px !important; }
    .pt-50-xs { padding-top: 50px !important; }
    .pr-50-xs { padding-right: 50px !important; }
    .pb-50-xs { padding-bottom: 50px !important; }
    .pl-50-xs { padding-left: 50px !important; }
}
@media (max-width: 575px) {
    .pt-10-xxs { padding-top: 10px !important; }
    .pr-10-xxs { padding-right: 10px !important; }
    .pb-10-xxs { padding-bottom: 10px !important; }
    .pl-10-xxs { padding-left: 10px !important; }
    .pt-20-xxs { padding-top: 20px !important; }
    .pr-20-xxs { padding-right: 20px !important; }
    .pb-20-xxs { padding-bottom: 20px !important; }
    .pl-20-xxs { padding-left: 20px !important; }
    .pt-30-xxs { padding-top: 30px !important; }
    .pr-30-xxs { padding-right: 30px !important; }
    .pb-30-xxs { padding-bottom: 30px !important; }
    .pl-30-xxs { padding-left: 30px !important; }
    .pt-40-xxs { padding-top: 40px !important; }
    .pr-40-xxs { padding-right: 40px !important; }
    .pb-40-xxs { padding-bottom: 40px !important; }
    .pl-40-xxs { padding-left: 40px !important; }
    .pt-50-xxs { padding-top: 50px !important; }
    .pr-50-xxs { padding-right: 50px !important; }
    .pb-50-xxs { padding-bottom: 50px !important; }
    .pl-50-xxs { padding-left: 50px !important; }
}

 /*
 * Display
 */
.display-none { display: none !important; }
.display-block { display: block !important; }
.display-inline { display: inline !important; }
.display-inline-block { display: inline-block !important; }
.display-flex { display: flex !important; }
.display-flex-center { display: flex !important; align-items : center !important; }
.display-grid { display: grid !important; }
.display-table { display: table !important; }
.display-table-row { display: table-row !important; }
.display-table-cell { display: table-cell !important; }
.display-table-column { display: table-column !important; }

@media (min-width: 1600px) {
    .display-block-xlg { display: block !important; }
    .display-inline-xlg { display: inline !important; }
    .display-inline-block-xlg { display: inline-block !important; }
}
@media (min-width: 1200px) {
    .display-block-lg { display: block !important; }
    .display-inline-lg { display: inline !important; }
    .display-inline-block-lg { display: inline-block !important; }
}
@media (min-width: 1025px) and (max-width: 1199px) {
    .display-block-md { display: block !important; }
    .display-inline-md { display: inline !important; }
    .display-inline-block-md { display: inline-block !important; }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .display-block-sm { display: block !important; }
    .display-inline-sm { display: inline !important; }
    .display-inline-block-sm { display: inline-block !important; }
}
@media (max-width: 768px) {
    .display-block-xs { display: block !important; }
    .display-inline-xs { display: inline !important; }
    .display-inline-block-xs { display: inline-block !important; }
}
@media (max-width: 575px) {
    .display-block-xxs { display: block !important; }
    .display-inline-xxs { display: inline !important; }
    .display-inline-block-xxs { display: inline-block !important; }
}


/*
 * Collapse
 */
@media (min-width: 1600px) {
    .collapse-xlg { display: none; }
}
@media (min-width: 1200px) {
    .collapse-lg { display: none; }
}
@media (min-width: 1025px) and (max-width: 1199px) {
    .collapse-md { display: none; }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .collapse-sm { display: none; }
}
@media (max-width: 768px) {
    .collapse-xs { display: none; }
}
@media (max-width: 575px) {
    .collapse-xxs { display: none; }
}

/*
 * Show
 */
@media (min-width: 1600px) {
    .show-xlg { display: initial !important; }
}
@media (min-width: 1200px) {
    .show-lg { display: initial !important; }
}
@media (min-width: 1025px) and (max-width: 1199px) {
    .show-md { display: initial !important; }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .show-sm { display: initial !important; }
}
@media (max-width: 768px) {
    .show-xs { display: initial !important; }
}
@media (max-width: 575px) {
    .show-xxs { display: initial !important; }
}

/*
 * Text Align
 */
@media (min-width: 1600px) {
    .text-left-xlg { text-align: left !important; }
    .text-right-xlg { text-align: right !important; }
    .text-center-xlg { text-align: center !important; }
    .text-justify-xlg { text-align: justify !important; }
}
@media (min-width: 1200px) {
    .text-left-lg { text-align: left !important; }
    .text-right-lg { text-align: right !important; }
    .text-center-lg { text-align: center !important; }
    .text-justify-lg { text-align: justify !important; }
}
@media (min-width: 1025px) and (max-width: 1199px) {
    .text-left-md { text-align: left !important; }
    .text-right-md { text-align: right !important; }
    .text-center-md { text-align: center !important; }
    .text-justify-md { text-align: justify !important; }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .text-left-sm { text-align: left !important; }
    .text-right-sm { text-align: right !important; }
    .text-center-sm { text-align: center !important; }
    .text-justify-sm { text-align: justify !important; }
}
@media (max-width: 768px) {
    .text-left-xs { text-align: left !important; }
    .text-right-xs { text-align: right !important; }
    .text-center-xs { text-align: center !important; }
    .text-justify-xs { text-align: justify !important; }
}
@media (max-width: 575px) {
    .text-left-xxs { text-align: left !important; }
    .text-right-xxs { text-align: right !important; }
    .text-center-xxs { text-align: center !important; }
    .text-justify-xxs { text-align: justify !important; }
}

/*
 * Icon Size
 */
.icon-xs { font-size: 12px; }
.icon-sm { font-size: 16px; }
.icon-md { font-size: 18px; }
.icon-lg { font-size: 24px; }
.icon-2x { font-size: 32px; }
.icon-3x { font-size: 48px; }
.icon-4x { font-size: 60px; }
.icon-5x { font-size: 72px; }

/*
 * Border Size
 */
.border-all { border-top-width: 1px !important; border-right-width: 1px !important; border-bottom-width: 1px !important; border-left-width: 1px !important; }

/*
 * Border Style
 */
.border-dashed { border-style: dashed !important; }
.border-dotted { border-style: dotted !important; }
.border-solid { border-style: solid !important; }
.border-double { border-style: double !important; }
.border-ridge { border-style: ridge !important; }
.border-inset { border-style: inset !important; }
.border-outset { border-style: outset !important; }
.border-none { border-style: none !important; }
.border-hidden { border-style: hidden !important; }

/*
 * Pulls
 */
@media (min-width: 1600px) {
    .pull-left-xlg { float: left !important; }
    .pull-right-xlg { float: right !important; }
    .pull-none-xlg { float: none !important; }
}
@media (min-width: 1200px) {
    .pull-left-lg { float: left !important; }
    .pull-right-lg { float: right !important; }
    .pull-none-lg { float: none !important; }
}
@media (min-width: 1025px) and (max-width: 1199px) {
    .pull-left-md { float: left !important; }
    .pull-right-md { float: right !important; }
    .pull-none-md { float: none !important; }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .pull-left-sm { float: left !important; }
    .pull-right-sm { float: right !important; }
    .pull-none-sm { float: none !important; }
}
@media (max-width: 768px) {
    .pull-left-xs { float: left !important; }
    .pull-right-xs { float: right !important; }
    .pull-none-xs { float: none !important; }
}
@media (max-width: 575px) {
    .pull-left-xxs { float: left !important; }
    .pull-right-xxs { float: right !important; }
    .pull-none-xxs { float: none !important; }
}

/*
 * Text Transform
 */
.text-transform-none { text-transform: none; }
.text-transform-initial { text-transform: initial; }
.text-transform-inherit { text-transform: inherit; }
.text-transform-capitalize { text-transform: capitalize; }
